<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Aqua"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aqua">
        <activity
            android:name=".scanbccam"
            android:exported="false" />
        <activity
            android:name=".scanbc4"
            android:exported="false" />
        <activity
            android:name=".selamatekstra"
            android:exported="false" />
        <activity
            android:name=".selamatklaim"
            android:exported="false" />
        <activity
            android:name=".scanktp"
            android:exported="false" />
        <activity
            android:name=".royalvgz"
            android:exported="false" />
        <activity
            android:name=".ekstravgz"
            android:exported="false" />
        <activity
            android:name=".redeemvgz2"
            android:exported="false" />
        <activity
            android:name=".redeemvgz"
            android:exported="false" />
        <activity
            android:name=".scanbc3"
            android:exported="false" />
        <activity
            android:name=".scanbc2"
            android:exported="false" />
        <activity
            android:name=".scanbarcode"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".regis"
            android:exported="false" />
        <activity
            android:name=".loginregis"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>